/*
 * jQuery FlexSlider v1.4
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {width: 600px; height:400px; margin: 0; padding:0; display:block; overflow:hidden;}
.flexslider .slides { padding:0 !important; }
.flexslider .slides li {display: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; padding:25px 0 15px 0 !important; margin:0 !important; }
.flexslider .slides  li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */


.flexslider-container {
		position: relative; display:block; overflow:hidden; padding:0 1px 30px 1px !important;
		background:url(/images/common/portfolio-background-large.png) no-repeat; margin:0 0 20px 0;
}
.flexslider-container li { list-style:none; }

/* Caption style */
p.flex-caption {width: 96%; padding: 2%; position: absolute; left: 0; bottom: 0; background: rgba(0,0,0,.3); color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,.3); font-size: 15px; line-height: 18px; margin:0 !important;}

/* Direction Nav */
.flex-direction-nav { padding:0 !important; margin:0 !important; display:none; }
.flex-direction-nav li a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url(/images/theme/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;} /* set negative margin-top equal to half the height on the directional-nav for perfect vertical centering */
.flex-direction-nav li a.next {background-position: -52px 0; right: -4px; display:none;}
.flex-direction-nav li a.prev {background-position: 0 0; left: 4px; display:none;}

/* Control Nav */
.flex-control-nav {margin-left: -31px !important; position: absolute; bottom:0; left: 50%; overflow:hidden; padding:0 !important;} /* set negative margin-left equal to half the width on the control-nav for perfect centering */
.flex-control-nav li {margin: 0 0 0 5px; float: left; padding:0; border:none;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(/images/theme/bg_control_nav.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {background-position: 0 -13px;}
.flex-control-nav li a.active {background-position: 0 -26px; cursor: default;}


