<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title></title>
<link href="/StyleSheets/ModuleStyleSheets.css" type="text/css" rel="StyleSheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/base.css" rel="stylesheet" />
<link type="text/css" media="screen,projection" href="/StyleSheets/screen.css" rel="stylesheet" />
<link rel="stylesheet" href="/CatalystStyles/Box.css" type="text/css" media="screen" />
<meta content="text/html;charset=utf-8" http-equiv="content-type" />
</head>
<body>
<div class="system-error-message">
<h1>Client Portal Login</h1>
<p class="intro">Please log in to view past invoices and support cases.</p>
<hr />
<form method="post" action="/ZoneProcess.aspx?ZoneID=-1&amp;OID={module_oid}&amp;OTYPE={module_otype}" onsubmit="return checkWholeForm68244(this)" name="catseczoneform68244">
    <div class="form">
    <div class="item">    <label>Username</label><br />
    <input name="Username" maxlength="255" class="text" arprops=",,143px,16px,static,auto,visible,,," />    </div>
    <div class="item">    <label>Password</label><br />
    <input type="password" name="Password" maxlength="255" class="text" arprops=",,143px,16px,static,auto,visible,,," />    </div>
    <div class="item">    <input type="submit" value="Login" class="button-submit" />    </div>
    </div>
    <script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js"></script>
    <script type="text/javascript">function checkWholeForm68244(theForm){var why = "";if (theForm.Username) why += isEmpty(theForm.Username.value, "Username");if (theForm.Password) why += isEmpty(theForm.Password.value, "Password");if (why != ""){alert(why);return false;}theForm.submit();return false;}</script>
</form>
</div>
<!-- END .system-message -->


</body>